* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.grid-layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas:
        "header header header"
        "nav    main   aside"
        "footer footer footer";
}

header{ 
    grid-area: header; 
    background:linear-gradient(to right, rgb(113, 200, 224),rgb(168, 44, 168));
    color: #fff; 
    padding: 15px; 
    text-align: center;
    height:100px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    width:100%;
}

.social-icons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.social-icons a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: rgb(201, 78, 201);
}

header h1{
 font-family:"Lucida Console", "Courier New", monospace;
}

nav { 
    grid-area: nav; 
    background: rgba(166, 185, 190, 0.587); 
    padding: 15px; 
    padding-left: 0px;
    padding-right: 0px;
    align-content: space-around;
    justify-content: center;
    position: fixed;
    top: 100px;
    bottom:0;
}

ul {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: rgb(63, 137, 183);
    display: block;
    padding: 30px;
    font-size: large;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(113, 200, 224);

}

main { 
    grid-area: main; 
    background: white;
    padding: 15px; 
    padding-top:115px;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}

main .main-content{
    margin-bottom: 20px;
    padding: 20px 0px 20px 20px;
    border: 2px solid rgb(166, 185, 190);
    border-radius: 10px;
    background: rgba(166, 185, 190, 0.287);
    display:flex;
    justify-content: space-between;
}
main .main-content div{
    align-content:center;
}
main .main-content img{
    max-width: 400px;
    margin-right: 20px;
    border-radius: 10px;
}

.categories{
    margin-top: 10px;
}
.categories h3{
    margin-bottom: 10px;
    color: rgb(63, 137, 183);
}
.categories .statcards{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.categories .statcards .card{
    background: rgba(210, 87, 210, 0.313);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    text-align: center;
    flex: 1;
    margin: 0 5px;
}

.categories .statcards .card h4{
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 1.2rem;
    color: black;
}

.categories .statcards .card img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

aside { 
    grid-area: aside; 
    background: rgba(166, 185, 190, 0.587); 
    padding: 15px;
    overflow-y: auto;
    max-height: calc(100vh - 50px);
}

main .about-page{
    margin: 20px;
    padding: 30px;
    border: 2px solid rgb(182, 166, 190);
    border-radius: 30px;
    background: rgba(148, 197, 210, 0.571);
    display:flex;
    justify-content: space-between;
}

.posts{
    top:110px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post{
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right:10px;
}
.post:first-child{
    margin-top:70px;
}
.post img{
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    margin-bottom: 8px;
}

.post h4{
    margin: 0 0 8px 0;
    font-size: 1rem;
    color: #222;
}

.read-more{
    align-self: flex-start;
    display: inline-block;
    padding: 10px 10px ;
    background: #302b01;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-left:20px;
}

.read-more:hover{ background:#5b5202;color:white }

footer { 
    grid-area: footer; 
    background:linear-gradient(to right, rgb(113, 200, 224),rgb(201, 78, 201));
    color: #fff; 
    padding: 15px; 
    text-align: center;
    height:50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
